{% extends 'carsapp/base.html' %}
{% load static %}

{% block titulo %} Registrar Proveedor {% endblock %}

{% block contenedor %}
<div class="card text-white bg-secondary">
    <div class="card-body">
        <div>
            Registro Proveedor
        </div>
        <div class="btn-cerrarSesion">
            <a class="btn btn-primary" href="{% url 'carsapp:proveedorListar' %}" id="ID_BTNListar4">Volver</a>
        </div>
    </div>
</div>
<div class="formularios">
    <form action="{% url 'carsapp:proveedorGuardar' %}" method="POST">
        {% csrf_token %}
        Nit: <input name="nit" class="form-control" required><br>
        Nombre: <input name="nombre" class="form-control" required><br>
        Dirección: <input name="direccion" class="form-control" required><br>
        Teléfono: <input name="telefono" class="form-control" required><br>
        E-mail: <input name="email" class="form-control" required><br>
                   
        <button type="submit" class="btn btn-success">Guardar</button><br>
    
    </form>
</div>


{% endblock %}