{% extends 'carsapp/base.html' %}
{% load static %}

{% block titulo %} Actualizar Vehículo {% endblock %}

{% block contenedor %}

<div class="card text-white bg-secondary">
    <div class="card-body">
        <div>
            Actualizar Servicio
        </div>
        <div class="btn-cerrarSesion">
            <a class="btn btn-primary" href="{% url 'carsapp:servicioListar' %}" id="ID_BTNListar4">Volver</a>
        </div>
    </div>
</div>
<div class="formularios">
    <form action="{% url 'carsapp:servicioActualizar' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ dato.id_Servicio }}"><br>
        Tipo de Servicio: <input name="tipo_Servicio" value="{{ dato.tipo_Servicio }}" class="form-control"><br>
        Nombre de Servicio: <input name="nombre_Servicio" value="{{ dato.nombre_Servicio }}" class="form-control"><br>
        Valor de Servicio: <input name="valor_Servicio" value="{{ dato.valor_Servicio }}" class="form-control"><br>
        
        <button type="submit" class="btn btn-success">Actualizar</button><br>
    </form>
</div>
{% endblock %}