{% extends 'carsapp/base.html' %}
{% load static %}

{% block titulo %} Configuración de Empleado {% endblock %}

{% block contenedor %}
<div class="card text-white bg-secondary">
    <div class="card-body">
        <div>
            Configuracion de Usuarios
        </div>
    </div>
</div>
<div>
    {% if messages %}
        {% for m in messages %}
        <div class="alert alert-{% if m.level == 25 %}success{% elif m.level == 40 %}danger{% else %}info{% endif %} alert-dismissible fade show" role="alert">
            {{ m }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    
    {% endif %}
</div>
    <br>

    
    <br />
    <br />
    {% if object_list %}
    <table class="table  table-hover">
        <tr>
            <th>Usuario</th>
            <th>Clave</th>
            <th>Rol</th>
            <th>Nombre del Empleado</th>
            <th>Acciones</th>
        </tr>
        {% for registro in object_list %}
        <tr>
            <td>{{ registro.usuario }}</td>
            <td>{{ registro.clave }}</td>
            <td>{{ registro.rol }}</td>
            <td>{{ registro.cedula_Emp }}</td>
            <td>
                <a class="btn btn-danger" href="javascript:vehiculo_Eliminar('{% url 'carsapp:usuarioEliminar' registro.usuario %}')" role="button"><i class="fas fa-trash-alt"></i></a>
                <a class="btn btn-info" href="{% url 'carsapp:usuarioFormActualizar' registro.usuario %}" role="button"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No hay datos aún.
    {% endif %}
    <!--
    <div class="container">
        <div class="modal fade" tabindex="-1" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Eliminar Usuario</h4>
                        <button class="close" data-dismiss="modal">&times;</button> 
                    </div>
                    <div class="modal-body">
                        ¿ Está seguro que desea eliminar este registro ?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger">Aceptar</button>
                        <button class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    {% if is_paginated %}
        <div class="paginacion">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock %}