{% extends 'carsapp/base.html' %}
{% load static %}

{% block titulo %} Registrar Vehiculo {% endblock %}

{% block contenedor %}
<div class="card text-white bg-secondary">
    <div class="card-body">
        <div>
            Registro Vehiculo
        </div>
        <div class="btn-cerrarSesion">
            <a class="btn btn-primary" href="{% url 'carsapp:vehiculoListar' %}" id="ID_BTNListar4">Volver</a>
        </div>
    </div>
</div>
<div class="formularios">
    <form action="{% url 'carsapp:vehiculoGuardar' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ dato.id_Cliente }}"><br>
        Placa: <input name="placa" class="form-control" required><br>
        Marca: <input name="marca" class="form-control" required><br>
        Modelo: <input name="modelo" class="form-control" required><br>
        Color: <input name="color" class="form-control" required><br>
        Cliente: <input name="id_Cliente" value="{{ dato.id_Cliente }}" class="form-control" readonly><br>
    
        <button type="submit" class="btn btn-success">Guardar</button><br>
    
    </form>
</div>


{% endblock %}